<!-- <div class="jumbotron text-center">
  <h1>404 Not Found</h1>
  <p>You may be lost. Follow the breadcrumbs back <a routerLink="/">home</a>.</p>
</div> -->
<div class="row">
    <div class="col-md-6" style="text-align: right;">
          
  <img src="./assets/images/iconimages/facilities/12.png">
    </div>
<div class="col-md-6" style=" margin-top: 90px">
          <h1 class="bigtitle" style="margin-bottom: 0px;">ERROR 404</h1>
  <h2 style=" margin-top: 2px;"> Something went wrong &amp;<br>we are looking into it.</h2>
  
    </div>
    <p>You may be lost. Follow the breadcrumbs back <a routerLink="/">home</a>.</p>
</div>