<head>
  <title>Test Details</title>
</head>
<div  class="content" style="min-height:800px;">
    
    <div *ngIf="testDetails.parameters?.length>0" id="test_parameters" class="modal theme_modal in" role="dialog" >
        <div class="modal-dialog">
          
        <form >
          <div class="modal-content 1" >
            <div class="modal-header">
              <button class="btn modal_close_btn" data-dismiss="modal" >×</button>
              <h4 *ngIf="testDetails.test_name>0" class="modal-title">Parameters covered in "{{testDetails.test_name}}"</h4>
            </div>
            <div class="modal-body">
              <div *ngIf="testDetails.parameters.length>0">
                <ul>
                  <li *ngFor="let para of testDetails.parameters">{{para}}</li>
                </ul>
              </div>
            </div>
            <div class="modal-footer">
            </div>
          </div>
           </form>
          
        </div>
    </div>
    <div class="container">
      
      <div class="row" style="">
           <div class="col-md-12">
                  <h1 class="bigtitle">OUR TESTS</h1>
            </div>
        </div>
        <div class="row" style="">
          <div class="col-md-12 text-center">
              <div class="form-group" style="margin: 20px 0px;">
                
                    <div class="input-group search_input-group">
                      <input #searchString type="text" class="form-control input-lg dropdown-toggle" data-toggle="dropdown" placeholder="Search for Pathology Tests, Scans, MRI, CT etc." aria-describedby="basic-addon2" aria-expanded="true" [formControl]="searchTerm" (keyup.enter)="searchBasedOnString(searchTerm.value)" [(ngModel)]=filterKey value="{{ser_string}}">

                      <span  *ngIf="searchString.value.length>0" class="" style="color: #f05b25;position: absolute;top: 12px;right: 60px;z-index: 2;padding-right: 10px;cursor:pointer;" (click)="searchString.value=''">X Clear</span>
                   
                      <div class="dropdown-menu search_dropdown" style="width:100%;max-height:250px;overflow-y:auto;z-index: 1999;">
                        <ul class="search_ul" >
                               
                            <li class="heading" *ngIf="searchResult.length > 0"><i class="fa fa-history"></i> Tests Related to {{searchTerm.value}}</li>
                            <li *ngFor="let item of searchResult"><a (click)="select(item.test_name,'test')">{{item.test_name}}</a></li>
                            
                            <li class="heading" *ngIf="((_packagesSearchResult.length > 0)&&(mpckgshow===true))"><i class="fa fa-history"></i> Packages Related to {{searchTerm.value}}</li>
                            <li *ngFor="let item of _packagesSearchResult"><a (click)="select(item.package_name,'package')">{{item.package_name}}</a></li>

                            <li class="heading" *ngIf="((_packagesSearchResult?.length ==0) && (searchResult?.length==0) &&(searchString.value===''))">Popular Tests</li>
                            <li *ngFor="let test of getPopularTests(searchString.value)" (click)="select(test,'test')">{{test}}</li>

                        </ul>
                      </div>

                      <span class="input-group-addon" id="basic-addon2" style="background-color:#fff; border:0px;"  (click)="searchBasedOnString(searchTerm.value)"> 
                            <span><i class="fa fa-circle" style="color:#EEEEED ; font-size: 50px;margin-top: -7px;"></i></span>
                            <div style="font-size: 35px;margin-top: -42px; color:#f05b25"><i class="fa fa-search"></i></div>
                              
                      </span>
                    </div>

                </div>
            </div>
              
        </div>
        <div class="row">
            
            <div class="col-md-12">
              <div class="panel-group test_panel">
                 <div class="panel panel-default">
                   
                  
                  <div class="panel-heading">
                      <div class="col-md-10">
                        
                        <h3 style="margin:0">{{testDetails?.test_name}}</h3>
                        <p *ngIf="testDetails.test_name?.length>0"><a href="javascript:void(0)"  data-toggle="modal" data-target="#test_parameters">Number of parameters covered {{testDetails.parameter_count}}</a></p>
                        <p *ngIf="testDetails.test_name==='Liver Function Test (LFT), Serum'">This is a blood test to check how well the liver is working. This test measures the total protein, albumin, bilirubin, and liver enzymes. High or low levels may mean that liver damage or disease is present.
                          </p>
                          <p *ngIf="testDetails.test_name==='Lipid Profile, Serum'">This test measures the amount of cholesterol and other fats in your blood. Cholesterol and triglycerides are fats. These fats are important for cell health, but they can be harmful when they build up in the blood. 
                              .
                            </p>
                            <p *ngIf="testDetails.test_name==='Complete Blood Picture (CBP), EDTA Whole Blood'">Complete Blood Picture analyse your health condition and identify a wide range of infections and disorders (Anemia & Leukemia).
                                .
                              </p>
                            
                      </div>	
                      <div class="col-md-2">
                        <h3 style="margin:5px 0px 30px" class="text-brandcolor text-center"><small><i class="text-brandcolor fa fa-rupee"></i></small> <strong>{{testDetails.test_finalpr}}<strong></strong></strong></h3><strong><strong>
                         <div class="package_cart text-center" *ngIf="addtovisible=='true'">
                                                  
                              <div style="  width:70px;    padding-left: 7px; margin:0 auto">
                                <div class="input-group" style="    border:  0;">
                                  <span  *ngIf="getTestQuant(testDetails.test_id)>1" class="input-group-addon" style="padding: 0; border:  0; background-color:transparent;  padding-right: 5px; " (click)="testQuantMinus(testDetails.test_id)">                                  -
                                  </span>
                                  <input type="text" class="form-control theme" value="{{getTestQuant(testDetails.test_id)}}" style="    width: 40px;  padding:  0;    text-align:  center;    font-size:  13px;    height:  30px;" readonly="true">
                                  <span class="input-group-addon" style="   padding: 0; padding-left: 5px;   border: 0;    background-color: transparent;" (click)="testQuantPlus(testDetails.test_id)">                                  +
                                  </span>
                                  </div>
                              </div>
                              <a  *ngIf="!isadded(testDetails.test_id)" href="javascript:void(0)" (click)="getAddTestCart1(testDetails)"><img style="    width: 23px;    margin-top: -5px;    display: inline-block;" src="./assets/images/iconimages/carticon.png"> ADD TO CART</a>
                             
                              <button class="btn btn-brand btn-sm added" *ngIf="isadded(testDetails.test_id)" (click)="goToCart()"><img style="    width: 23px;    margin-top: -5px;    display: inline-block;" src="./assets/images/iconimages/carticon.png"/> Go To Cart</button>
                                        </div>
                      </strong></strong></div>
                              
                              
                              <div class="clearfix"></div>
                           </div>

                  <div id="collapse1" class="panel-collapse collapse in">
                      <div class="tenet-loader" *ngIf="loading['testdetails2']" ><img src="./assets/images/monogram.svg"  /></div> 
                      <!--panel body-->
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-md-12">
                            <ul class="nav nav-tabs test_details_nav_tabs">
                                 
                                  <li class="active"><a href="javascript:void(0)" (click)="triggerScrollToOffsetOnly(0,details)" >What Is {{testDetails.test_name}}?</a></li>
                                  <li><a href="javascript:void(0)" (click)="triggerScrollToOffsetOnly(0,mmm)">Why Is {{testDetails.test_name}} required ?</a></li>
                                   <li><a href="javascript:void(0)" (click)="scroll(pot)">FAQs</a></li>
                                   
                            </ul>
                            <div class="tab-content">
                              <div #details >
                                  
                                  <div class="col-md-12">
                                      <h3 class="titles" style="font-weight:600"><img class="pull-left" style="margin: -6px 01px 01px 0px;    width: 30px !important; "> Quick View</h3>
                                      
                                    </div>
                                    <div class="col-md-12" *ngIf="noObjHide(testDetails.test_other_names)">
                                      <h5 class="titles" style="font-weight:600"><img class="pull-left" style="margin: -6px 01px 01px 0px;    width: 30px !important; ">Synonyms/Also Known as</h5>
                                      <p>{{testDetails.test_other_names}}</p>
                                    </div>
                                    <div class="col-md-12" *ngIf="noObjHide(testDetails.test_rel)" >
                                      <h5 class="titles" style="font-weight:600"><img class="pull-left" style="margin: -6px 01px 01px 0px;    width: 30px !important; ">Related tests</h5>
                                      <p>{{testDetails.test_rel}} </p>
                                    </div>
                                    <div class="col-md-12" *ngIf="noObjHide(testDetails.test_whygt)">
                                      <h5 class="titles" style="font-weight:600"><img class="pull-left" style="margin: -6px 01px 01px 0px;    width: 30px !important; ">Why get tested?</h5>
                                      <p>{{testDetails.test_whygt}} </p>
                                    </div>
                                    <div class="col-md-12" *ngIf="noObjHide(testDetails.test_whengt)">
                                      <h5 class="titles" style="font-weight:600"><img class="pull-left" style="margin: -6px 01px 01px 0px;    width: 30px !important; ">When to get  tested?</h5>
                                      <p>{{testDetails.test_whengt}} </p>
                                    </div>
                                    <div class="col-md-12" *ngIf="noObjHide(testDetails.spec_type)">
                                      <h5 class="titles" style="font-weight:600"><img class="pull-left" style="margin: -6px 01px 01px 0px;    width: 30px !important; ">Sample required</h5>
                                      <p>{{testDetails.spec_type}}</p>
                                    </div>
                                    <div class="col-md-12" *ngIf="noObjHide(testDetails.test_ptn)">
                                      <h5 class="titles" style="font-weight:600"><img class="pull-left" style="margin: -6px 01px 01px 0px;    width: 30px !important; ">Test preparation needed</h5>
                                      <p>{{testDetails.test_ptn}} </p>
                                    </div>

                              </div>
                               <div #mmm>
                                  <div class="col-md-12">
                                      
                                          <h3 class="titles" style="font-weight:600"><img class="pull-left" style="margin: -6px 01px 01px 0px;    width: 30px !important; ">About The Test</h3>
                                    </div>
                                    <div class="col-md-12" *ngIf="noObjHide(testDetails.how_is_it_used)">
                                        <h5 class="titles" style="font-weight:600"><img class="pull-left" style="margin: -6px 01px 01px 0px;    width: 30px !important; ">
                                          How is it used</h5>
                                          <div [innerHTML]="testDetails.how_is_it_used"></div>
                                    </div>
                                      
                               </div>
                              <div #pot >
                                  <div class="col-md-12" *ngIf="noObjHide(testDetails.faq)">
                                      <h3 class="titles" style="font-weight:600"><img class="pull-left" style="margin: -6px 01px 01px 0px;    width: 30px !important; "> FAQ’s</h3>
                                      
                                    </div>
                                    <div class="col-md-12" [innerHTML]="testDetails.faq"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                       
                      </div>
                 
                      <!--Panel body-->
                  </div>

                 </div>
              </div>
            </div>
        </div>


    </div>
</div>