<div class="container">
    <div class="row" style="">
          <!-- <div class="col-md-12">
      <div class="col-md-1"></div>
      <div class="col-md-10 text-center">
        <div class="form-group" style="">
          <div class="input-group search_input-group">
            <input type="text" class="form-control input-lg" placeholder="Search for your nearest tenet center, test or service." aria-describedby="basic-addon2" value="">
            <span class="input-group-addon" id="basic-addon2" style="background-color:#fff; border:0px;"> 
              <span><i class="far fa-circle" style="color:#f05b25; font-size: 30px;margin-top: -7px;"></i></span>
              <div style="font-size: 14px;margin-top: -22px; color:#f05b25"><i class="fas fa-search"></i></div>
                
            </span>
          </div>

        </div>
      </div>
        
          </div> -->
    <div class="col-md-12">
      <div>
        <h2 class="bigtitle"><img src="./assets/images/iconimages/teneticon.png" class="pull-left" style="margin: 0px 01px 01px 0px;    width: 40px !important; ">ITS GOOD TO KNOW</h2>
      </div>
      <div>
        
        <p>‘Tenet’ a synonym for ‘belief’, has more significance now than ever. As internet spreads its reach, more people are self-diagnosing their symptoms. This puts more pressure on the medical fraternity to be precise, fast, consistent and patient to live up to the client’s demands and to win their trust. In these challenging times, the rapidly growing diagnostics industry needs a leader it can count on. Hence, Center For Excellence In Medical Services Private Limited(CEMS) established Tenet Diagnostics with a focus on providing better diagnostic quality, reach, technology,logistics and spread awareness about preventive healthcare measures.
        </p>
        <p>	Changing the way we live in today’s busy and demanding times might be too much of an ask. But altering our lifestyles a little bit can go a long way in ensuring better health. At Tenet Diagnostics,we enable you to KNOW your body better. We believe the status of your health should be an active consideration while making lifestyle decisions. At Tenet, our robust technological platform, enhanced by cutting-edge diagnostic modalities is designed to bring transparency and streamline processes for operational excellence to enable customer trust and delight.
        </p>
      </div>
      
      
      
    </div>
    </div>
    <div class="row">
  
      
      <div class="col-md-5">
        <img src="./assets/images/iconimages/Doctor_Icon.png" width="100%">
      </div>
      <div class="col-md-7">
          <h4><strong>IT’S GOOD TO KNOW<br>WHY WE NEVER REST</strong></h4>
          <h5 class="titles" style="font-weight:600">OUR VISION</h5>

          <p>Empathy drives effective solutions. With this as our core
              vision, we aim to establish a state of the art comprehensive
              diagnostics care unit to provide services that can cater to
              every section of the community, everywhere.
              </p>
          
          <h5 class="titles" style="font-weight:600">OUR MISSION</h5>
          <p>As evidence-based treatment becomes the norm for many
            doctors, we pledge to provide cutting edge technology, better
            diagnosis and accurate results to help you serve holistically
            and effectively.
            </p>
        
          <h5 class="titles" style="font-weight:600">OUR VALUES</h5>
          <p>At Tenet, being transparent in our thought and execution is
            second nature to us. This helps us work in collaboration to
            meet our goal of bringing accurate, high-quality results to you
            in no time. After all, we are here to help you on your way to
            better health.
            </p>
          
          
          
          
          
          
          
      </div>
      
    
      
        
    
  </div>
    <div class="row">
      <div class="col-md-12">
      <h4><strong>IT’S GOOD TO GET <br> TO KNOW US BETTER!</strong></h4>
      <p> We believe in providing better health for all. In our pursuit to
        do this, we keep adapting to the times. With this intention,
        we have an in-house R&amp;D platform to innovate products that
        improve the diagnostic precision for common healthcare
        dilemmas. We are also collaborating with Siemens to
        develop new Imaging modules in ongoing research areas like
        Cardiology, Body Imaging, Oncology and Gynaecology as
        part of our research initiative.
        At Tenet, we incorporate contemporary best practices in
        Imaging and laboratory services and augment this effort
        with exemplary hospitality, quality and consistency in
        our services. With taking tests regularly made easier,
        you will now have relevant information at your disposal,
        helping you to keep how your body is functioning in
        check.
        </p>
      <p> Since health decisions affect more than just one life,
        our reliable diagnostics make it easy to move quickly
        and confidently towards knowledge-driven action. Our
        accurate, high-quality and convenient services translate
        to a comprehensive range of full diagnostic modalities
        under the Tenet banner. The result is, reports that offer
        the clearest picture of health. Because we believe that
        knowing is the difference between our world and a
        healthier one.

      </p>
      
      </div>
    </div>
      
    
</div>