.search_dropdown{
	padding:0;
	margin:0;
}
.search_ul{
	padding:0;
	margin:0;
}
.search_ul li{
	list-style:none;
	padding:3px 15px;
	border-bottom:1px solid #d2d2d2;
	
}
.search_ul li.heading{
	background-color:#eee;
	font-weight:600;
	font-size:16px;
}
.search_ul li a{
	font-weight: 400;
    font-size: 13px;
    color: #000;
}
.search_ul li a:hover{
text-decoration:none;
}