<div class="content" style="min-height:800px;">
    <div class="container">
      <div class="row" style="">
           <div class="col-md-12">
                  <h1 class="bigtitle"><strong>OUR TESTS &amp; PACKAGES</strong></h1>
            </div>
        </div>
      <div class="row" style="">
          <div class="col-md-10 text-center">
              <div class="form-group" style="">
                  <div class="input-group search_input-group">
                     <!--  <input type="text" #searchString class="form-control input-lg dropdown-toggle" data-toggle="dropdown" aria-expanded="true" placeholder="Search for your nearest tenet center, test or service." aria-describedby="basic-addon2" value="{{tempstr}}" [formControl]="searchTerm" (keyup.enter)="serClick(0,searchTerm.value)" [(ngModel)]=filterKey> -->
                      <input #searchString type="text" class="form-control input-lg dropdown-toggle" data-toggle="dropdown" placeholder="Search for Pathology Tests, Scans, MRI, CT etc." aria-describedby="basic-addon2" aria-expanded="true" [formControl]="searchTerm" (keyup.enter)="serClick(0,searchTerm.value)" [(ngModel)]=filterKey>

                      <div class="dropdown-menu search_dropdown" style="width:100%;max-height:250px;overflow-y:auto; z-index: 1999;">
                        <ul class="search_ul" >
                               
                            <li class="heading" *ngIf="searchResult.length > 0"><i class="fa fa-history"></i> Tests Related to {{searchTerm.value}}</li>
                            <li *ngFor="let item of searchResult"><a (click)="select(item.test_name,'test')">{{item.test_name}}</a></li>
                            
                            <li class="heading" *ngIf="((_packagesSearchResult.length > 0)&&(mpckgshow===true))"><i class="fa fa-history"></i> Packages Related to {{searchTerm.value}}</li>
                            <li *ngFor="let item of _packagesSearchResult"><a (click)="select(item.package_name,'package')">{{item.package_name}}</a></li>

                            <li class="heading" *ngIf="((_packagesSearchResult.length ==0) && (searchResult.length==0) &&(searchString.value===''))">Popular Tests</li>
                            <li *ngFor="let test of getPopularTests(searchString.value)" (click)="select(test,'test')">{{test}}</li>

                        </ul>
                      </div>

                      <!-- <span class="input-group-addon" id="basic-addon2" style="background-color:#fff; border:0px;"> 
                          <span><i class="far fa-circle" style="color:#f05b25; font-size: 30px;margin-top: -7px;"></i></span>
                            <div style="font-size: 14px;margin-top: -22px; color:#f05b25" (click)="serClick(0,searchString.value)"><i class="fas fa-search"></i></div>   
                      </span> -->
                     <!--  <span class="input-group-addon" id="basic-addon2" style="background-color:#fff; border:0px;"  (click)="serClick(0,searchString.value)"> 
                            <span><i class="fa fa-circle" style="color:#EEEEED ; font-size: 50px;margin-top: -7px;"></i></span>
                            <div style="font-size: 35px;margin-top: -42px; color:#f05b25"><i class="fa fa-search"></i></div>
                              
                      </span> -->

                      <span class="input-group-addon" id="basic-addon2" style="background-color:#fff; border:0px;"  (click)="serClick(0,searchString.value)"> 
                            <span><i class="fa fa-circle" style="color:#EEEEED ; font-size: 50px;margin-top: -7px;"></i></span>
                            <div style="font-size: 35px;margin-top: -42px; color:#f05b25"><i class="fa fa-search"></i></div>
                              
                      </span>
                    </div>
                    <!--  <div class="suggestions" *ngIf="searchResult.length > 0">
                                <div *ngFor="let item of searchResult">
                                    <div>
                                        <a (click)="select(item.test_name)">{{item.test_name}}</a>
                                    </div>
                                </div>
                    </div>
                    <div class="suggestions" *ngIf="_packages1.length > 0">
                        <div *ngFor="let item of _packages1">
                            <div>
                                <a (click)="select(item.package_name)">{{item.package_name}}</a>
                            </div>
                        </div>
                    </div> -->


                </div>
            </div>
              <div class="col-md-1" style="margin: 7px 0px 22px -12px;">
                  <!-- <button  class="btn btn-info btn-brand" (click)="clrClick()">Reset</button> -->
                  <a href="#" class="dropdown-toggle btn btn-sm btn-default" type="button" data-toggle="dropdown"><i class="fa fa-user-circle"></i>{{sortString}}</a>
                  <ul class="dropdown-menu sub_menu">
                        <li><a href="javascript:void(0)" (click)="clrClick()">Popularity</a></li>
                    <li><a href="javascript:void(0)" (click)="sortingFun(2,'Price- Low to High',1)">Price- Low to High</a></li>
                    <li><a href="javascript:void(0)" (click)="sortingFun(2,'Price- High to Low',2)">Price- High to Low</a></li>
                    
                  </ul>
                </div>
          <!-- <div class="col-md-1" style="padding-top:30px">
            <a href="#" class="dropdown-toggle btn btn-sm btn-default" type="button" data-toggle="dropdown"><i class="fa fa-user-circle"></i>{{sortString}}</a>
            <ul class="dropdown-menu sub_menu">
              <li><a href="javascript:void(0)" (click)="sortingFun(2,'Price- Low to High',1)">Price- Low to High</a></li>
              <li><a href="javascript:void(0)" (click)="sortingFun(2,'Price- High to Low',2)">Price- High to Low</a></li>
              <li><a href="javascript:void(0)">Popularity</a></li>
            </ul> 
          </div> -->
        </div>
        <div class="row" style="border-top:2px solid #C0C0C0; padding-top:20px;">
          <div class="col-md-3">
                <p class="sub_heading-brand">CATEGORY <a class="text-brandcolor btn btn-sm btn-brand" style="float: right;    font-size: 10px;    text-decoration: none;"  (click)="clrClick()"> RESET</a></p>
                 <ul class="check_list">
                    <li> <label><input [(ngModel)]='cat_checkbox' type="radio" name="category" value="pack" (click)="filter_masters('Packages')">&nbsp;Packages</label></li>
                    <li> <label><input [(ngModel)]='cat_checkbox' type="radio" name="category" value="test" (click)="masterSearch('tests')">&nbsp;Tests</label></li>
                    <li> <label><input [(ngModel)]='cat_checkbox' type="radio" name="category" value="profile" (click)="filter_masters('Profiles')">&nbsp;Profiles</label></li>
                  <!--   <li> <label><input type="checkbox" value="">Test</label></li> -->
                 </ul>
                 <p class="sub_heading-brand">ORGANS</p>
                 <div>
                 <!-- <ngx-loading [show]="loading['organs']" ></ngx-loading>  -->
                     <ul class="check_list filters_list">
                     
                     <li *ngFor="let organ of organsList"> <label><input [(ngModel)]='organ_checkbox' type="radio" name="organ" value="{{organ.test_organ_id}}" (click)="search($event,'organ')" id="{{organ.test_organ_id}}">&nbsp;{{organ.organ_name}}</label></li>
                     <li *ngIf="organsList?.length >= 5" (click)="showMoreLess(organsList?.length,'organs')"><a href="javascript:void(0)" class="text-brandcolor">{{showMore['organs']}}</a></li>
                     </ul>
             </div>
                    <p class="sub_heading-brand">CONDITIONS</p>
                    <div>
                    <!-- <ngx-loading [show]="loading['condition']" ></ngx-loading>  -->
                        <ul class="check_list filters_list">
                        
                        <li *ngFor="let condition of testConditions"> <label><input [(ngModel)]='cond_checkbox' type="radio" name="condition" value="{{condition.test_type_id}}" (click)="search($event,'cond')" id="{{condition.test_type_id}}" [checked]="condition.test_type_id==1">&nbsp;{{condition.condition_name}}</label></li>
                        <li *ngIf="testConditions?.length >= 5" (click)="showMoreLess(testConditions?.length,'cond')"><a href="javascript:void(0)" class="text-brandcolor">{{showMore['cond']}}</a></li>

                        </ul>
                </div>
               
                
                    <p class="sub_heading-brand">SPECIALITIES</p>
                    <div>
                        <!-- <ngx-loading [show]="loading['speciality']" ></ngx-loading>  -->
                        <ul class="check_list filters_list">
                        
                        <li *ngFor="let item of testSpecialityList"> <label><input type="radio"  [(ngModel)]='spl_checkbox'  name="speciality" value="{{item.id}}" (click)="search($event,'spl')" id="{{item.id}}">&nbsp;{{item.speciality_name}}</label></li>
                        <li *ngIf="testSpecialityList?.length >= 5" (click)="showMoreLess(testSpecialityList?.length,'speciality')"><a href="javascript:void(0)" class="text-brandcolor">{{showMore['speciality']}}</a></li>
                        </ul>
                </div>

            </div>
            <div class="col-md-9" style="border-left:1px solid #c0c0c0; padding-:5px 25px; min-height:500px;">
                    <!-- <ngx-loading [show]="loading['service']" ></ngx-loading> -->
                    <div class="tenet-loader" *ngIf="loading['service']" ><img src="./assets/images/monogram.svg"  /></div> 

                <div class="row package_row" id="packages" *ngIf="_packages?.length > 0">
                  <div class="col-md-4" *ngFor="let package of _packages">
                      <div class="package package_container" style="padding:10px 20px;" >
                          <p class="sub_heading-brand ft-16px m-b-15" style="     width: 100%;
                          
                          height: 43px;
                          display: -webkit-box;
                          -webkit-line-clamp: 2;
                          -webkit-box-orient: vertical;
                          overflow: hidden;cursor: pointer !important;" (click)="select(package.package_name,'package')">{{package.package_name}}</p>
                            <ul class="list-ul-default">
                                            <li>MRP: <i class="fa fa-rupee"></i>.{{package.package_price}}</li>
                                            <li>Package Offer-Price: <i class="fa fa-rupee"></i>.{{package.package_finalpr}} </li>
                                           <!-- <li>What is Collected : {{package.specimen}}</li> -->
                             </ul>
                             <a class="pull-right text-brandcolor" data-toggle="modal" data-target="#know_more" data-backdrop="" (click)="select(package.package_name,'package')">Know More</a>
                             <!-- <a class="pull-right text-brandcolor" data-toggle="modal" data-target="#know_more" data-backdrop="" (click)="getPackageDetails(package.id,package.package_name)">Know More</a> -->
                              <div class="clearfix"></div>
                                        
                              <div class="package_price">
                                        <h4><i class="fa fa-rupee"></i> {{package.package_price}} </h4>
                                </div>
                                    <!-- <div class="package_cart">
                                        <button class="btn btn-brand btn-sm" (click)="getAddPackageCart(package)"><img src="./assets/images/iconimages/carticon.png"/> ADD TO CART</button>
                                    </div> -->

                                    <div class="package_cart"> 
                                   <button class="btn btn-brand btn-sm" (click)="getAddTestCart(package,'pckg',$event)" *ngIf="!isadded(package.id)"><img src="./assets/images/iconimages/carticon.png"/> ADD TO CART</button>
                                   <button class="btn btn-brand btn-sm added" *ngIf="isadded(package.id)"><img src="./assets/images/iconimages/carticon.png"/> ADDED</button>

                                  <div style=" float:  right;  width: 60px;    padding-left: 7px;">
                                        <div class="input-group" style="    border:  0;">
                                        <span class="input-group-addon" style="padding: 0; border:  0; background-color:transparent;  padding-right: 5px;cursor: pointer;" (click)="getRemoveTestCart(package,'package')">-</span>
                                          <input type="text" class="form-control theme" value="{{getTestQuant(package.id)}}" style="    width: 40px;  padding:  0;    text-align:  center;    font-size:  13px;    height:  30px;" readonly="true">
                                          <span class="input-group-addon" style="   padding: 0; padding-left: 5px;   border: 0;    background-color: transparent;cursor: pointer;" (click)="getAddTestCart(package,'pckg',$event)"> + </span>
                                        
                                        </div>
                                    </div>
                                </div>
                                    
                        </div>
                    </div>
<!--Know-more content -->
<!-- <div id="know_more" class="modal theme_modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="btn modal_close_btn" data-dismiss="modal">&times;</button>
        <h4 class="titles text-left" style="font-weight:600">List of Tests Cover Under Package {{selpackagename}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
    
           <div class="col-md-12" *ngIf="_packageServices.length > 0">
                  <li *ngFor="let mem of _packageServices">{{mem.test_name}}</li>
           </div>
     
       </div>
      </div>
      <div class="modal-footer text-center" style="text-align:center">
        
      </div>
    </div>

  </div>
</div> -->
                  
                </div>


                
                  <div class="row package_row" *ngIf="testsList?.length > 0">
                    <div class="col-md-4" *ngFor="let test of testsList| paginate: config; let i = index">
                        <div class="package package_container" style="padding:10px 20px;">
                            <p class="sub_heading-brand ft-16px m-b-15 " style="     width: 100%;
                    
                    height: 43px;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;cursor: pointer !important;"  (click)="getTestDetails(test.tid)" title="{{test.test_name}}">{{test.test_name}}</p>
                            <ul class="list-ul-default">
                                <!-- <li><i class="fas fa-rupee-sign"></i>MRP: RS.{{test.test_price}}</li> -->
                                <li><strong>Test Also Known As</strong>: <span title="{{test.test_other_names}}">{{test.test_other_names}} </span></li>
                                <li><strong>What is Collected</strong>: {{test.specimen}}</li>
                                <li><strong>Parameters Count</strong>: {{test.parameter_count}}</li>
                                <!-- <li>What is Collected : {{package.specimen}}</li> -->
                             </ul>
                             <a class="pull-right text-brandcolor" (click)="getTestDetails(test.tid)">Know More</a>
                                        <div class="clearfix"></div>
                                        
                              <div class="package_price">
                                        <h4><small *ngIf="(test.test_price!==test.test_finalpr)" style="text-decoration: line-through;"><i class="fa fa-rupee"></i> {{test.test_price}}</small> <i class="fa fa-rupee"></i> {{test.test_finalpr}}</h4>
                              </div>
                                    <div class="package_cart" *ngIf="addtovisible=='true'">
                                        <button *ngIf="!isadded(test.tid)" class="btn btn-brand btn-sm" (click)="getAddTestCart(test,'test',$event)"><img src="./assets/images/iconimages/carticon.png"> ADD TO CART</button>
                                        <button *ngIf="isadded(test.tid)" class="btn btn-brand btn-sm added"><img src="./assets/images/iconimages/carticon.png"> ADDED</button>
                                        <div style=" float:  right;  width: 60px;    padding-left: 7px;">
                                            <div class="input-group" style="    border:  0;">
                                              <span class="input-group-addon" style="padding: 0; border:  0; background-color:transparent;  padding-right: 5px;
                    " (click)="getRemoveTestCart(test)">
                                                -
                                              </span>
                                              <input type="text" class="form-control theme" value="{{getTestQuant(test.tid)}}" style="    width: 40px;  padding:  0;    text-align:  center;    font-size:  13px;    height:  30px;
                    " readonly="true">
                                              <span class="input-group-addon" style="   padding: 0; padding-left: 5px;   border: 0;    background-color: transparent;"  (click)="getAddTestCart(test,'test',$event)">
                                                +
                                              </span>
                                            
                                            </div>
                                        </div>
                                    </div>
                                    
                        </div>
                    </div>
                </div>
                  <!-- <div class="row">
                        <div class="col-md-12 text-center">
                        
                        <div class="w3-bar pagination_theme">
                              <a href="#" class="w3-button">&lt;</a>
                              <a href="#" class="w3-button current">1</a>
                              <a href="#" class="w3-button">2</a>
                              <a href="#" class="w3-button">3</a>
                              <a href="#" class="w3-button">4</a>
                              <a href="#" class="w3-button">5</a>
                              <a href="#" class="w3-button">6</a>
                              <a href="#" class="w3-button">7</a>
                              <a href="#" class="w3-button">8</a>
                              <a href="#" class="w3-button">&gt;</a>
                            </div>
                        </div>
                    </div> -->
               <div class="row package_row" *ngIf="getpackagecnf">
                  <div class="col-md-6">
                      <div class="package package_container" style="padding:10px 20px;"  >
                          <p class="sub_heading-brand ft-16px m-b-15">Sorry For The Inconviniance,No Package Available</p>
                        </div>
                    </div>
                </div>
                <div class="row package_row" *ngIf="gettestcnf">
                        <div class="col-md-6">
                            <div class="package package_container" style="padding:10px 20px;"  >
                                <p class="sub_heading-brand ft-16px m-b-15">Sorry For The Inconviniance,No Test Available</p>
                              </div>
                          </div>
                      </div>
                <div class="row" *ngIf="(testsList?.length > 9)">
                        <div class="col-md-12 text-center">
                        <!-- <pagination-controls (pageChange)="pa = $event"> -->

                            
                        <!-- </pagination-controls> -->
                        </div>
                        <pagination-template class="col-md-12 text-center" #p="paginationApi"
                        [id]="config.id"
                        (pageChange)="config.currentPage = $event">
                            
                            <div class="w3-bar pagination_theme">
                                <span  [class.disabled]="p.isFirstPage()">
                                        <a class="w3-button" *ngIf="!p.isFirstPage()" (click)="p.previous()">&lt;</a>
                                </span>
                                <span *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
                                        <a class="w3-button " (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
                                            <span (click)="setPagiUrl(page.value)">{{ page.label }}</span>
                                        </a>
                                        <span *ngIf="p.getCurrent() === page.value">
                                            <a class="w3-button current"><span>{{ page.label }}</span></a>
                                        </span>
                                    </span>
                                  
                          
                                  <span class="pagination-next" [class.disabled]="p.isLastPage()">
                                        <a class="w3-button" *ngIf="!p.isLastPage()" (click)="p.next()"> > </a>
                                    </span>
                                </div>
                            </pagination-template>
                        
                </div>

                
            </div>
        </div>

     </div>
</div>