.package_row{
	border-bottom:1px solid #afafaf;
	margin:0;
}
.package_row .col-md-4{
	border-right:1px solid #afafaf;
	margin-top:15px;
	margin-bottom:15px;
}
.package_row .col-md-4:last-child{
	border:0;
}
.my-pagination  .ngx-pagination .current {
	background: #f05b25 ;
	
}
.pagination_theme{
	margin:15px;
}
.pagination_theme a.w3-button{
	padding:8px 13px;
	font-size:16px;
	color:#777777;
	font-weight:600;
}
.pagination_theme a.w3-button:hover,.pagination_theme a.current{
	color:#f05b25;
	text-decoration:none;
}
/*new*/

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}
.submenu-level1,.submenu-level2{
	border:1px solid #f05b25;
}
.submenu-level1>li{
	padding: 5px 3px;
    margin:5px;
	border-bottom:1px solid #eee;
}
.submenu-level1>li:last-child{
	border:0;
}
.submenu-level1>li>a{
	font-weight:600;
}
.submenu-level1>li>a:hover,.submenu-level1>li>a:focus,.submenu-level1>li>a:active{
	background-color:transparent;
	color:#f05b25;
	border:0;
}
.submenu-level2{
	margin-left:5px;
	top:-10px;
	width:auto;
	height:auto;
	
}
.search_dropdown{
	padding:0;
	margin:0;
}
.search_ul{
	padding:0;
	margin:0;
}
.search_ul li{
	list-style:none;
	padding:3px 15px;
	border-bottom:1px solid #d2d2d2;
	
}
.search_ul li.heading{
	background-color:#eee;
	font-weight:600;
	font-size:16px;
}
.search_ul li a{
	font-weight: 400;
    font-size: 13px;
    color: #000;
}
.search_ul li a:hover{
text-decoration:none;
}

.search_ul li:hover{
color:#f05b25;
background-color:#eee;
}
.list-ul-default li:first-child {
    width: 100%;
    height: 40px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.list-ul-default li:nth-child(2) {
    width: 100%;
    height: 40px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.filters_list{
	height: 162px;
	overflow-y: auto;
}
