table.top{
    width: 100%;
    text-align: center;
}
td.top,th.top{
    text-align: center;
}
.leftCol {
    position: absolute;
    /* overflow: auto; */
    right: 80%;
    left: 0;
    top: auto;
    /* bottom: 30px; */
    /* background: #aabbcc; */
}

    .leftCol .leftTop {
        /* background: #ff6a00; */
        height: auto;
    }

    .leftCol .leftBottom {
        background: #b6ff00;
    }

.rightCol {
    position: absolute;
    /* overflow: auto; */
    left: 80%;
    right: 0;
    /* top: auto; */
    /* bottom: 30px; */
    /* width: 70%; */
    height: 100%;
}
.midCol{
    position: absolute;
    /* overflow: auto; */
    left: 20%;
    right: 20%;
    /* top: auto; */
    /* bottom: 30px; */
    /* width: 70%; */
    height: 100%;
}
.midbottom{
    position: absolute;
    /* overflow: auto; */
    left: 20%;
    right: 20%;
    top: 70%;
    /* bottom: 0%; */
    /* width: 70%; */
    height: 100%;
}
.sug{
    font-size: 20px;
}
.wmsg{
    color: red; 
}
.navigations_div{
    position: absolute;
    width: 100%;
    top: 40%;
    z-index: 1024;
    padding: 0 0%;
    
}
.navigations_div img{
    width:35%;
}
.link-brand,.link-brand:hover,.link-brand:active,.link-brand:focus{
    color:#f05b25;
    text-decoration:none;
    font-size:18px;
    font-weight:bold;
}
.payment_details_table tr:first-child td{
    border-top:1px solid #eee;
}
.payment_details_table tr:last-child td{
    border-bottom:1px solid #eee;
} 
.payment_details_table tr td {
    padding:5px;
}

input.form-control.theme.otp_input {
    margin: 10px;
    font-size: 20px;
    height: 40px;
    text-align: center;
  }
  .buttonload {
    background-color: #4CAF50; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px /* Set a font size */
}
