.navigations_div img{
	width:35%;
}
.slider_images .owl-controls{
position: absolute;
width: 100%;
bottom: 0;
}
.slider_images.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #f05b25;
}
.slider_images.owl-theme .owl-dots .owl-dot span {
    background: #767676;
}
.navigations_div{
	position: absolute;
	width: 100%;
	top: 40%;
	z-index: 1024;
	padding: 0 10%;
	
}
.presentaion_wrapper .navigations_div {
padding: 0 3%;
}
.presentaion_wrapper .navigations_div img{
	width:20%
}
.testimonial_slider_wrapper .navigations_div{
	top:30%;
}
.testimonial_slider_wrapper .navigations_div img{
	width:20%;
}
.testimonial_containter .fa-quote-left,.testimonial_containter .fa-quote-right{
	color:#f05b25;
}
 .error{
    color: red;
    font-size: 20px;
}
.network_row .titles small{
	color:#f05b25;
	font-size:50%;
}
.search-bottom{
    margin-top:0px;
     margin-bottom:30px;
}
.search-top{
    margin-top:30px; 
    margin-bottom:0px;
}

