<div class="content" style="min-height:800px;">
    <div class="container">
       
        <!-- Section 2-->
       <div class="row" style="">
           <div class="col-md-12">
                  <h1 class="bigtitle">OUR NETWORK</h1>
            </div>
        </div>
       
        <div class="row network_row">
            <div class="col-md-5">
                <h2 class="titles"><img src="./assets/images/iconimages/teneticon.png" class="pull-left" height="35" style="margin:0px 10px 10px 0px; " />TENET HUB <br> <small>360<sup>o</sup>DIAGNOSTICS</small></h2>
                <div class="text-center" style="padding:30px">
                    <img src="./assets/images/iconimages/networkimages/1.png" width="70%">
                </div>
            </div>
            <div class="col-md-7">
                <p style="margin-top:50px;">Tenet Hub is our flagship brand, where we bring together state-of-the-art equipment, premier medical software and health experts for accurate,reliable testing and results across Pathology,Radiology and imaging.turn to us for quick, reliable information</p>
                <div class="row">
                    <div class="col-md-4 text-center">
                        <img src="./assets/images/iconimages/set2/1.png" width="70%">
                        <h4 class="text-brandcolor text-center">PATHOLOGY</h4>
                    </div>
                    <div class="col-md-4 text-center">
                        <img src="./assets/images/iconimages/set2/2.png" width="70%"/>
                        <h4 class="text-brandcolor">XRAY</h4>
                    </div>
                    <div class="col-md-4 text-center">
                        <img src="./assets/images/iconimages/set2/3.png" width="70%"/>
                            <h4 class="text-brandcolor">ULTRA <br>SOUND</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-center">
                        <img src="./assets/images/iconimages/set2/4.png" width="70%"/>
                            <h4 class="text-brandcolor">MRI-3TESLA</h4>
                    </div>
                    <div class="col-md-4 text-center">
                        <img src="./assets/images/iconimages/set2/5.png" width="70%"/>
                        <h4 class="text-brandcolor">TMT</h4>
                    </div>
                    <div class="col-md-4 text-center">
                        <img src="./assets/images/iconimages/set2/6.png" width="70%"/>
                        <h4 class="text-brandcolor">PULMONARY <br> FUNCTION TEST</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row network_row">
            <div class="col-md-5">
                <h2 class="titles"><img src="./assets/images/iconimages/teneticon.png" class="pull-left" height="35" style="margin:0px 10px 10px 0px; " />TENET PRO<br> <small>EXPERTS IN RADIOLOGY & PATHOLOGY</small></h2>
                <div class="text-center" style="padding:30px">
                    <img src="./assets/images/iconimages/networkimages/1.png" width="55%">
                </div>
            </div>
            <div class="col-md-7">
                <p style="margin-top:50px;">Driven by the desire to high-quality diagnostics to everyone, we are changing the way Radiology and Pathology testing is assessed. At Tenet Plus, we employ state of the art diagnostic technology coupled with the latest R&D to bring affordable, best-in-class services to you. this helps you identify problems areas early to take smart, quick action. </p>
                <div class="row">
                    <div class="col-md-4 text-center">
                        <img src="./assets/images/iconimages/set2/1.png" width="70%">
                        <h4 class="text-brandcolor text-center">PATHOLOGY</h4>
                    </div>
                    <div class="col-md-4 text-center">
                        <img src="./assets/images/iconimages/set2/2.png" width="70%"/>
                        <h4 class="text-brandcolor">XRAY</h4>
                    </div>
                    <div class="col-md-4 text-center">
                        <img src="./assets/images/iconimages/set2/3.png" width="70%"/>
                            <h4 class="text-brandcolor">ULTRA <br>SOUND</h4>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="row network_row">
            <div class="col-md-5">
                <h2 class="titles"><img src="./assets/images/iconimages/teneticon.png" class="pull-left" height="35" style="margin:0px 10px 10px 0px; " />TENET EXPRESS<br> <small>QUICK.RESPONSIVE.</small></h2>
                <div class="text-center" style="padding:5px">
                    <img src="./assets/images/iconimages/networkimages/1.png" width="40%">
                </div>
            </div>
            <div class="col-md-7">
                <p style="margin-top:50px;">Busy lives can make even the most basic diagnostics difficult to access. That’s why we are bridging the
                        gap between you and accurate testing. Tenet Express outlets are spread over multiple neighborhoods,
                        bringing the most common diagnostic facilities right to you, wherever you are.  </p>
                <div class="row">
                    <div class="col-md-4 text-center">
                        <img src="./assets/images/iconimages/set2/1.png" width="70%">
                        <h4 class="text-brandcolor text-center">PATHOLOGY</h4>
                    </div>
                    <div class="col-md-4 text-center">
                        <img src="./assets/images/iconimages/networkimages/8.png" width="65%"/>
                        <h4 class="text-brandcolor">HEMATOLOGY</h4>
                    </div>
                    <div class="col-md-4 text-center">
                        <img src="./assets/images/iconimages/networkimages/7.png" width="70%"/>
                            <h4 class="text-brandcolor">CLINICAL<br>BIOCHEMISTRY</h4>
                    </div>
                </div>
                
            </div>
            
        </div>
        <div class="row network_row">
            <div class="col-md-5">
                <h2 class="titles"><img src="./assets/images/iconimages/teneticon.png" class="pull-left" height="35" style="margin:0px 10px 10px 0px; " />TENET DOORSTEP<br> <small>EASY PROFESSIONAL. CONVIENENT</small></h2>
                <div class="text-center" style="padding:5px">
                    <img src="./assets/images/iconimages/networkimages/5.png" width="70%">
                </div>
            </div>
            <div class="col-md-7">
                <p style="margin-top:50px;">For the truly busy and the housebound, we proudly present Tenet Doorstep: quality diagnostic services,
                        
                        from the ease and comfort of your home/office. Our phlebotomists will arrive at your doorstep,
                        guardedly collect your samples and effortlessly handle all the logistics, making it an enduring first class
                        experience in receiving your reports.  </p>
                <div class="row">
                    <div class="col-md-4 text-center">
                        <img src="./assets/images/iconimages/set2/1.png" width="70%">
                        <h4 class="text-brandcolor text-center">PATHOLOGY</h4>
                    </div>
                    <div class="col-md-4 text-center">
                        <img src="./assets/images/iconimages/networkimages/9.png" width="75%"/>
                        <h4 class="text-brandcolor">PHLEBOTOMY</h4>
                    </div>
                    <div class="col-md-4 text-center">
                        <img src="./assets/images/iconimages/networkimages/10.png" width="70%"/>
                            <h4 class="text-brandcolor">URINE SAMPLE<br>COLLECTION</h4>
                    </div>
                </div>
                
            </div>
            
        </div>
        <div class="row">
             <div class="col-md-12 text-center">
                <h2 class="titles" style="font-size:25px"><img src="./assets/images/iconimages/teneticon.png" height="35" style="margin:0px 20px 10px 0px; " /><a href="./contactus"  class="titles">Click here to locate your nearest Tenet Express</a></h2>
                
             </div>
        </div>
        <hr>
             <!--Search Content-->
        <!-- <div class="row" style="margin-top:30px; margin-bottom:0px;">
                <div class="col-md-12 text-center">
                    <div class="form-group" style="margin: 40px 100px;">
                        <div #searchString type="text" class="input-group search_input-group">
                          <input type="text" class="form-control input-lg" placeholder="Search for your nearest tenet center, test or service." aria-describedby="basic-addon2" [formControl]="searchTerm" (keyup.enter)="searchBasedOnString(searchTerm.value)" [(ngModel)]=filterKey>
    
                           <label *ngIf="searchTerm.invalid" [ngClass] = "'error'"> SearchTerm required with min 3 characters. </label> 
                          <span class="input-group-addon" id="basic-addon2" style="background-color:#fff; border:0px;"  (click)="searchBasedOnString(searchTerm.value)"> 
                                <span><i class="fas fa-circle" style="color:#f05b25; font-size: 30px;margin-top: -7px;"></i></span>
                                <div style="font-size: 14px;margin-top: -22px; color:#f05b25"><i class="fa fa-search"></i></div>
                                  
                          </span>
                        </div>
                         <div class="suggestions" *ngIf="searchResult.length > 0">
                                    <div *ngFor="let item of searchResult">
                                        <div>
                                            <a (click)="select(item.test_name)">{{item.test_name}}</a>
                                        </div>
                                    </div>
                        </div>
                        <div class="suggestions" *ngIf="_packages.length > 0">
                            <div *ngFor="let item of _packages">
                                <div>
                                    <a (click)="select(item.package_name)">{{item.package_name}}</a>
                                </div>
                            </div>
                        </div>
    
                    </div>
                </div>  
            </div> -->
            <!--Search Content -->
        
            <!--Section 2 -->
            <div class="row" style="padding:30px 0;">
                <div class="col-md-6 text-center " style="padding:20px">
                     <button class="btn btn-brand btn-lg home_btn" (click)="getBookAnAppointment()" style="height: 70px;padding: 0 50px;">Book a test</button>
      
                </div>
                <div class="col-md-6 text-center left-border-brandcolor-light-2px" style="padding:20px">
                      <span *ngIf="tokenSet"><button class="btn btn-brand btn-lg home_btn" (click)="redir('./account/order-history')" style="text-align:center;height: 70px;padding: 0 50px;">Check Report <br> Status</button></span>  
                <span *ngIf="!tokenSet"><button class="btn btn-brand btn-lg home_btn" data-toggle="modal" data-target="#book_modal" data-backdrop="false" style="text-align:center;height: 70px;padding: 0 50px;">Check Report <br> Status</button></span>

                </div>
         </div>
<div id="book_modal" class="modal theme_modal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button class="btn modal_close_btn"  data-dismiss="modal">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                    <form #lf="ngForm" novalidate (ngSubmit)="loginSubmit(lf,lf.valid)">
                        <div class="form-group">
                            
                             <input type="text" class="form-control theme"  placeholder="Enter TIN Number or Mobile number" name="phone" ngModel  required #phone="ngModel">

                              <div style="color:#fc6107" 
                                *ngIf="phone?.errors && (phone.dirty || phone.touched || lf.submitted)">
                                      <p *ngIf="phone?.errors.required">
                                          The TIN number/Phone Number is required
                                      </p>
                              </div>
                        </div>
                         <div class="form-group">
                             
                              <input type="password" class="form-control theme"  placeholder="Password*" name="password1" ngModel  required #password1="ngModel">

                              <div style="color:#fc6107" 
                            *ngIf="password1?.errors && (password1.dirty || password1.touched || lf.submitted || password1.minlength)">
                                <p *ngIf="password1?.errors.required">
                                    The Password is required
                                </p>
                              
                            </div>

                         </div>
            
                    <div class="form-group">
                      <h5 class="titles text-left" style="font-weight:600; display:inline-block" data-toggle="modal" data-target="#forget_password_modal" data-backdrop="false">
                      <span style="margin-top:15px"><a href="./login">Forgot Password?</a></span>
                      </h5>
                    <button type="submit" class="btn btn-brand pull-right" >Submit</button>
                    </div>
            
                  </form> 
                
            </div>
        </div>
      </div>
      <!-- <div class="modal-footer"> -->
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        <!-- <button type="button" class="btn btn-brand">Submit</button> -->
      <!-- </div> -->
    </div>
    

  </div>
</div>
    </div>
</div>