.myboarder-top{
    border: 2px solid #343a40;
    width: 40%;
    /* margin-top: 10px; */
    border-radius: 6px;
    margin: 10px;
    float: left;
}
.myboarder-middle-message{
    width: 100%;
    display: block;
    font-size: 25px;
    text-align: center;
    margin: 15px;
    color: green;
}
.titleChange{
    color: #343a40;
    font-weight: 600;
    
}
.myboarder-middle-precation{
    width: 100%;
    border-radius: 10px;
    border: 1px solid #343a40;
   

}
.precation-title{
    font-size: 18px;
    font-weight: 500;   
    color: #171793;
    text-decoration: underline;
    padding-left: 10px;

}
.testlist{
    width: 100%;
    top:10px;
    position: relative;
}