<div class="content" style="min-height:800px;">

    <div class="container">
      <div class="row" style="">
           <div class="col-md-12">
                  <h1 class="bigtitle">CONTACT US</h1>
            </div>
        </div>
      <div class="row" style="padding:30px 60px;">
          <div class="col-md-4">
        <h3 class="titles" style="margin-bottom:20px">STORE LOCATOR</h3>
        <div class="form-group">
          <select class="form-control theme">
            <option>Telangana</option>
          </select>
        </div>
        <div class="form-group">
          <select class="form-control theme">
            <option>Hyderabad</option>
          </select>
        </div>
        <div class="form-group">
          <select class="form-control theme">
            <option>Area</option>
          </select>
        </div>
              <ul class="tenet_details_ul list-group">
          <li>
            <h4>Tenet Hub</h4>
            <p>Imaging, Radiology &amp; Pathology
                360 0 Diagnostics. </p>
          </li>
          <li>
            <h4>Tenet Pro</h4>
            <p>Radiology &amp; Pathology
                EXPERTS IN RADIOLOGY &amp; PATHOLOGY. </p>
          </li>
          <li>
            <h4>Tenet Express</h4>
            <p>Pathology
                QUICK &amp; RESPONSIVE. </p>
          </li>
          <li>
              <h4>Tenet Door Step</h4>
              <p>Pathology
                  EASY &amp; CONVENIENT. At your doorstep. </p>
            </li>
          <li>
              <p><br>
                
                <b>Company Name &amp; Address</b> <br>
                Tenet Med Corp, <br>3rd Floor, Plot No.54, 
                Kineta Towers,Road No. 3, <br>
                Banjara Hils,Hyderabad - 500 034 <br>   
                Email: info@tenetmedcorp.com <br>
                Ph:  86880 86880<br>
                <a href="http://www.tenetmedcorp.com" target="_blank">www.tenetmedcorp.com</a> 
              </p>
          </li>
        </ul>
        
            </div>
      
            <div class="col-md-8">
              <div class="row">
          <div class="col-md-12" style="padding-top:30px;">
            <!-- https://drive.google.com/open?id=1CTdmH5oc1wv9H0SmkLi6MGXKnMW9IZG_&usp=sharing -->
               <iframe src="https://www.google.com/maps/d/embed?mid=1CTdmH5oc1wv9H0SmkLi6MGXKnMW9IZG_" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
               <!-- iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.564399995798!2d78.415769315349!3d17.43268010608457!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb9131d35c558f%3A0x3130d77ddad0c9ab!2s119%2C+Road+Number+10%2C+Sravanthi+Nagar%2C+ICRISAT+Colony%2C+Jubilee+Hills%2C+Hyderabad%2C+Telangana+500033!5e0!3m2!1sen!2sin!4v1516016360447" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> -->
          </div>
          <div class="col-md-8">
            <h3 class="titles">WRITE TO US</h3>
            <p *ngIf="msg?.length > 0">{{msg}}</p>
            <form #cu="ngForm" (ngSubmit)="contactusSubmit(cu,cu.valid)">
              <div class="form-group">
                <input class="form-control theme" ngModel placeholder="Name" required name="username" #username="ngModel"/>
                <div style="color:#fc6107" *ngIf="username?.errors && (username.dirty || username.touched || cu.submitted)">
                                          <p *ngIf="username?.errors.required">
                                              The User name is required
                                          </p>
                </div>
              </div>
              <div class="form-group">
                <input class="form-control theme" ngModel placeholder="Contact No" required name="monileno"  #monileno="ngModel" pattern="[0-9]*" minlength="10" maxlength="10"/>
                <div style="color:#fc6107" *ngIf="monileno?.errors && (monileno.dirty || monileno.touched || monileno.minlength || cu.submitted || monileno.pattern)">
                                          <p *ngIf="monileno?.errors.required">
                                              The Mobile number. is required
                                          </p>
                                          <p *ngIf="monileno?.errors.minlength">
                                            Mobile number should be 10 digit
                                          </p>
                                          <p *ngIf="monileno?.errors.pattern">
                                            Mobile number should only consists of numbers.
                                          </p>
                                          
                            </div>
              </div>
              <div class="form-group">
                <input class="form-control theme" ngModel placeholder="Email"  required name="email" #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"/>
                <div style="color:#fc6107" 
                                *ngIf="email?.errors && (email.dirty || email.touched || cu.submitted || email.pattern)">
                                          <p *ngIf="email?.errors.required">
                                              The Email is required
                                          </p>

                                          <p *ngIf="email?.errors.pattern">
                                              Invalid Email
                                          </p>
                            </div>
              </div>
              <div class="form-group">
                <textarea class="form-control theme" ngModel placeholder="Your Message" required name="message" #message="ngModel"></textarea>
                 <div style="color:#fc6107" 
                                *ngIf="message?.errors && (message.dirty || message.touched || cu.submitted)">
                                          <p *ngIf="message?.errors.required">
                                              The Message is required
                                          </p>
                        </div>

              </div>
              <div class="form-group text-right">
                <button class="btn btn-brand" type="submit">SUBMIT</button>
              </div>
            </form>
          </div>
        </div>

        
            </div>
        </div>
        
        
        
        
         
          
     </div>
</div>